@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-estedad);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

@theme {
  --color-tint-1: #e5f2e9;
  --color-tint-2: #cae4d3;
  --color-tint-3: #b0d7bd;
  --color-tint-4: #96c9a7;
  --color-tint-5: #7cbc91;
  --color-tint-6: #61ae7b;
  --color-tint-7: #4e9968;

  --color-primary: #417f56;

  --color-shade-1: #396f4b;
  --color-shade-2: #315f41;
  --color-shade-3: #294f36;
  --color-shade-4: #21402b;
  --color-shade-5: #183020;
  --color-shade-6: #102016;
  --color-shade-7: #08100b;

  --color-gray-1: #f9f9f9;
  --color-gray-2: #ededed;
  --color-gray-3: #e1e1e1;
  --color-gray-4: #cbcbcb;
  --color-gray-5: #adadad;
  --color-gray-6: #757575;
  --color-gray-7: #717171;
  --color-gray-8: #353535;

  --color-black: #0c0c0c;

  --color-error: #c30000;
  --color-error-light: #ed2e2e;
  --color-error-extraLight: #fff2f2;

  --color-success: #00966d;
  --color-success-light: #00ba88;
  --color-success-extraLight: #f3fdfa;

  --color-warning: #a9791c;
  --color-warning-light: #f4b740;
  --color-warning-extraLight: #fff8e1;

  --shadow-2: 0px 2px 2px rgba(0, 0, 0, 0.25);
  --shadow-4: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --shadow-6: 0px 6px 6px rgba(0, 0, 0, 0.25);
  --shadow-8: 0px 8px 8px rgba(0, 0, 0, 0.25);
  --shadow-12: 0px 12px 12px rgba(0, 0, 0, 0.25);
  --shadow-16: 0px 16px 16px rgba(0, 0, 0, 0.25);

  --shadow-cards-shadow:
    0px 16px 6px rgba(0, 0, 0, 0.01), 0px 9px 5px rgba(0, 0, 0, 0.05),
    0px 4px 4px rgba(0, 0, 0, 0.09), 0px 1px 2px rgba(0, 0, 0, 0.1),
    0px 0px 0px rgba(0, 0, 0, 0.1);
  --shadow-contact-cards-shadow:
    0px 42px 17px rgba(0, 0, 0, 0.01), 0px 24px 14px rgba(0, 0, 0, 0.05),
    0px 11px 11px rgba(0, 0, 0, 0.09), 0px 3px 6px rgba(0, 0, 0, 0.1),
    0px 0px 0px rgba(0, 0, 0, 0.1);
}

:root {
  --background: white;
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: var(--color-primary);
  --primary-foreground: white;
  --secondary: var(--color-tint-1);
  --secondary-foreground: var(--color-primary);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: var(--color-error);
  --input: var(--color-gray-4);
  --ring: var(--color-primary);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 8px;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  transition: background-color 9999s ease-in-out 0s;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}